 @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 body {
     font-family: 'Barlow', 'Fraunces', sans-serif;
 }
 
 .wrapper {
     display: flex;
     flex-direction: column;
     text-align: center;
 }
 
 .header {
     width: 100%;
     height: 1440px;
     background: url(images/mobile/image-header.jpg) no-repeat;
     background-size: cover;
     background-position: center;
 }
 
 .header .img1 {
     margin-top: 100px;
     margin-left: 60px;
     float: left;
     width: 30%;
 }
 
 .header .img1-1 {
     margin-top: 100px;
     margin-right: 80px;
     float: right;
     width: 7%;
 }
 
 .header .img2 {
     margin-top: 14%;
     width: 9%;
 }
 
 .header .titulo {
     color: hsl(0, 0%, 100%);
     text-transform: uppercase;
     letter-spacing: 6px;
     font-size: 5rem;
     margin-top: 43%;
     margin-left: 18%;
     width: 60%;
     font-family: 'Fraunces', sans-serif;
 }
 
 .content1,
 .content2 {
     display: block;
     background: hsla(15, 40%, 98%, 0.959);
 }
 
 .content1 .text {
     width: 100%;
     height: 900px;
     padding: 100px;
     color: hsl(212, 27%, 19%);
 }
 
 .content1 .text h2 {
     width: 780px;
     font-size: 4rem;
     font-weight: 900;
     text-align: center;
     padding-bottom: 50px;
     font-family: 'Fraunces', sans-serif;
 }
 
 .content1 .text p {
     width: 780px;
     line-height: 1.5;
     padding: 7px;
     font-size: 2rem;
     margin-top: 2%;
     margin-bottom: 9%;
     color: hsl(210, 4%, 67%);
     font-family: 'Barlow', sans-serif;
 }
 
 .content1 .text a {
     text-transform: uppercase;
     color: hsl(212, 27%, 19%);
     padding: 5px;
     display: flex;
     font-size: 1.7rem;
     font-family: 'Fraunces', sans-serif;
     text-decoration: underline;
     text-decoration-color: hsl(51, 100%, 49%);
     margin-left: 35%;
     margin-bottom: 7%;
 }
 
 .img4,
 .img5 {
     width: 100%;
 }
 
 .content2 .text-1 h2 {
     width: 800px;
     font-size: 3.7rem;
     font-weight: 900;
     line-height: 1;
     margin-left: 8%;
     margin-top: 10%;
     padding-bottom: 50px;
     font-family: 'Fraunces', sans-serif;
 }
 
 .content2 .text-1 p {
     width: 800px;
     text-align: center;
     line-height: 1.9;
     margin-left: 10%;
     font-size: 2rem;
     padding: 20px;
     margin-top: 5%;
     margin-bottom: 9%;
     color: hsl(210, 4%, 67%);
     font-family: 'Barlow', sans-serif;
 }
 
 .text-1 a {
     text-transform: uppercase;
     color: hsl(212, 27%, 19%);
     padding: 17px;
     font-size: 1.7rem;
     display: flex;
     font-family: 'Fraunces', sans-serif;
     font-weight: 900;
     text-decoration: underline;
     text-decoration-color: hsl(7, 99%, 70%);
     margin-left: 35%;
     margin-bottom: 7%;
 }
 
 .content3 .box1 {
     width: 100%;
     height: 1440px;
     background: url(images/mobile/image-graphic-design.jpg) no-repeat;
     color: hsl(167, 40%, 24%);
     background-size: cover;
     display: flex;
 }
 
 .box1 .text2 {
     width: 800px;
     height: 300px;
     margin-top: 105%;
     margin-left: 7%;
 }
 
 .box1 .text2 h2 {
     font-family: 'Fraunces', sans-serif;
     font-weight: bold;
     font-size: 3rem;
 }
 
 .box1 .text2 p {
     font-size: 1.8rem;
     line-height: 1.5;
     font-family: 'Barlow', sans-serif;
     margin-top: 6%;
 }
 
 .content3 .box2 {
     width: 100%;
     height: 1440px;
     z-index: 1;
     background-image: url(images/mobile/image-photography.jpg);
     color: hsl(167, 40%, 24%);
     background-size: cover;
     display: flex;
 }
 
 .box2 .text2 {
     width: 800px;
     height: 300px;
     margin-top: 100%;
     margin-left: 8%;
 }
 
 .box2 .text2 h2 {
     font-family: 'Fraunces', sans-serif;
     font-weight: bold;
     font-size: 3rem;
     margin-top: 6%;
 }
 
 .box2 .text2 p {
     font-size: 1.8rem;
     line-height: 1.5;
     font-family: 'Barlow', sans-serif;
     margin-top: 6%;
 }
 /* depoimentos */
 
 .content4 {
     height: 2300px;
     width: 100%;
     background: hsl(0, 0%, 100%);
     display: block;
 }
 
 .boxa,
 .boxb,
 .boxc {
     padding: 6px;
     width: 700px;
     font-family: 'Fraunces', sans-serif;
     margin-top: 9%;
     margin-left: 14%;
 }
 
 .content4 p {
     color: hsl(213, 9%, 39%);
     margin-bottom: 50px;
     font-size: 1.5rem;
 }
 
 .content4 h4 {
     color: hsl(212, 27%, 19%);
     padding-bottom: 15px;
     font-size: 2rem;
 }
 
 .content4 h5 {
     text-transform: uppercase;
     color: hsl(210, 4%, 67%);
     letter-spacing: 8px;
     margin-top: 10%;
     font-size: 3rem;
 }
 
 .content4 h6 {
     color: hsl(210, 4%, 67%);
     font-size: 1.2rem;
 }
 
 .content4 .img7 {
     border-radius: 50%;
     width: 200px;
     height: 200px;
     margin-bottom: 50px;
 }
 /* 4 imagens */
 
 .content5 {
     width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 
 .content5 .img8 {
     width: 50%;
 }
 /* rodapé */
 
 .footer {
     width: 100%;
     height: 500px;
     color: hsl(167, 40%, 24%);
     background-color: #90d4c5;
     font-weight: 900;
 }
 
 .footer h6 {
     width: 15%;
     margin-left: 37%;
     margin-top: 4%;
     margin-bottom: 2%;
     font-size: 2rem;
     font-weight: 900;
     font-family: 'Lato', sans-serif;
     padding: 20px;
 }
 
 .menu li,
 a {
     text-align: center;
     display: inline;
     padding: 25px;
 }
 
 .social-media {
     text-align: center;
     display: inline;
     margin: 70px;
 }
 
 .icon {
     padding: 15px;
     margin-top: 6%;
 }